.root {
	align-items: center;
	border: 5px ridge #421;
	color: #eee;
	display: flex;
	flex-direction: column;
	margin: 5px;
	padding: 10px;
}

.controls {
	p {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 10px 0;
	}
	input {
		border-radius: 3px;
		height: 28px;
		margin-left: 5px;
		line-height: 28px;
		padding: 0 5px;
		vertical-align: middle;

		&[type=number] {
			width: 42px;
		}
		&:invalid {
			background-color: #f99;
		}
	}
	button {
		border-radius: 3px;
		height: 28px;
		vertical-align: middle;
	}
}

.grid {
	max-width: 100%;
}
.row {
	display: flex;
}
.block {
	align-items: center;
	background-color: white;
	border: 1px solid #111;
	display: flex;
	justify-content: center;
	width: 20px;

	&:before {
		// maintain aspect ratio on flex-shrink
		content: ' ';
		display: block;
		padding-top: 100%;
	}

	.blockColor {
		background-color: #222;
		height: 100%;
		width: 100%;
	}

	&.reachable .blockColor {
		background-color: #421;
	}
}
.success {
	color: #3f1;
	font-size: 1.2em;
}
